<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="com.exceptionaldevs.muzyka"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MuzikApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".player.PlayerActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Translucent.Player">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
                android:name=".player.FortuneWheelActivity"
                android:theme="@style/AppTheme.Translucent.FortuneWheel"
                android:parentActivityName=".MainActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>

        <!--<activity-->
        <!--android:name=".content.sheets.LibBottomSheetActvity"-->
        <!--android:exported="true"-->
        <!--android:theme="@style/AppTheme.Translucent.LibSheet">-->
        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value=".MainActivity" />-->
        <!--</activity>-->

        <activity
            android:name=".content.sheets.artist.ArtistSheet"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Translucent.LibSheet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".content.sheets.album.AlbumSheet"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Translucent.LibSheet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity
            android:name=".content.sheets.playlist.PlaylistSheet"
            android:theme="@style/AppTheme.Translucent.LibSheet">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <service
            android:name=".MuzikService"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="MuzikService"/>

        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
    </application>

</manifest>
